{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron-img jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Your Questions Answered</h1>
            <p class="lead">And even answers for those questions you didn't think to ask!</p>
        </div>
    </div>
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-question">Ask a Question</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
                    <div class="q-container p-4">
                        <div class="row">
                            <div class="col-2 text-center">
                                <img src="{{ asset('images/tisha.png') }}" width="100" height="100">
                                <div class="d-block mt-3 vote-arrows">
                                    <a class="vote-up" href="#"><i class="far fa-arrow-alt-circle-up"></i></a>
                                    <a class="vote-down" href="#"><i class="far fa-arrow-alt-circle-down"></i></a>
                                </div>
                            </div>
                            <div class="col">
                                <a class="q-title" href="{{ path('app_question_show',{question:'layering-for-the-fall'}) }}"><h2>Layering for the fall</h2></a>
                                <div class="q-display p-3">
                                    <i class="fa fa-quote-left mr-3"></i>
                                    <p class="d-inline">How can I wear more layers now that the weather is getting colder, without looking frumpy?</p>
                                    <p class="pt-4"><strong>--Anna</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="answer-link" href="{{ path('app_question_show',{question:'layering-for-the-fall'}) }}" style="color: #fff;">
                        <p class="q-display-response text-center p-3">
                            <i class="fa fa-magic magic-wand"></i> 6 answers
                        </p>
                    </a>
                </div>
            </div>

            <div class="col-12 mt-3">
                <div class="q-container p-4">
                    <div class="row">
                        <div class="col-2 text-center">
                            <img src="{{ asset('images/magic-photo.png') }}" width="100" height="100">
                            <div class="d-block mt-3 vote-arrows">
                                <a class="vote-up" href="#"><i class="far fa-arrow-alt-circle-up"></i></a>
                                <a class="vote-down" href="#"><i class="far fa-arrow-alt-circle-down"></i></a>
                            </div>
                        </div>
                        <div class="col">
                            <a class="q-title" href="{{ path('app_question_show',{question:'wearing-a-long-dress-to-a-cocktail-party'}) }}"><h2>Wearing a long dress to a cocktail party</h2></a>
                            <div class="q-display p-3">
                                <i class="fa fa-quote-left mr-3"></i>
                                <p class="d-inline">Can I wear a dress that looks informal but it's still long if I'm going to a cocktail party?</p>
                                <p class="pt-4"><strong>--Jessica</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="answer-link" href="{{ path('app_question_show',{question:'wearing-a-long-dress-to-a-cocktail-party'}) }}" style="color: #fff;">
                    <p class="q-display-response text-center p-3">
                        <i class="fa fa-magic magic-wand"></i> 15 answers
                    </p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
